@font-face {
  $path:"../bower_components/font-awesome/fonts/";
  font-family: 'FontAwesome';
  src: url($path+'fontawesome-webfont.eot?v=4.6.3');
  src: url($path+'fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url($path+'fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url($path+'fontawesome-webfont.woff?v=4.6.3') format('woff'), url($path+'fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url($path+'fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  $path:"../";
  font-family: "fedfont";
  src:url("#{$path}fonts/fedfont.eot");
  src:url("#{$path}fonts/fedfont.eot?#iefix") format("embedded-opentype"),
    url("#{$path}fonts/fedfont.woff") format("woff"),
    url("#{$path}fonts/fedfont.ttf") format("truetype"),
    url("#{$path}fonts/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

//default Html elements
body{
	color:$dark-gray;
	font-weight:$default-font-weight;
}
h1, h2, h3{
	font-weight:$default-font-weight;
}
p{
	line-height:170%
}