//colors
$dark-gray : #515151;
$medium-darkest-gray: #5d5d5d;
$medium-darker-gray: #7a7a7a;
$medium-dark-gray : #aeaeae;
$medium-gray : #DADADA;
$light-gray :#e8e8e8;
$white : white;
$light-green:#0065B2;
$green:#84BD00;
$purple:#A822AE;
$blue:#0065B2;
$orange:#F58220;

//Typography
$default-font-weight:100;
$default-font-size:16;