@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../bower_components/font-awesome/fonts/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fedfont";
  src: url("../fonts/fedfont.eot");
  src: url("../fonts/fedfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fedfont.woff") format("woff"), url("../fonts/fedfont.ttf") format("truetype"), url("../fonts/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/_base.scss */
body {
  color: #515151;
  font-weight: 100;
}

/* line 28, ../sass/_base.scss */
h1, h2, h3 {
  font-weight: 100;
}

/* line 31, ../sass/_base.scss */
p {
  line-height: 170%;
}

/* line 1, ../sass/components/_button.scss */
.button {
  display: inline-block;
  background-color: #84BD00;
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.75em 2.5em 0.5em 2.5em;
  border-radius: 0.2em;
  border-top: ligten(#84BD00, 20%) 1px solid;
  border-bottom: #4f7100 1px solid;
  border-right: none;
  border-left: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 16, ../sass/components/_button.scss */
.button:link, .button:hover, .button:visited, .button:active {
  color: white;
}
/* line 20, ../sass/components/_button.scss */
.button--pill {
  font-size: 1.25em;
  font-weight: 100;
  padding: 0.6875em 1.25em 0.4375em 1.25em;
  border-radius: 2em;
  text-shadow: none;
}

/* line 1, ../sass/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comment, div.contact_form-interest .selectize-input, div.contact_form-interest .selectize-input input {
  font-size: 1.125em;
  letter-spacing: 0.1em;
}

/* line 5, ../sass/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comment, div.contact_form-interest .selectize-input {
  background-color: #e8e8e8;
  border: #DADADA 1px solid;
  padding: 0.75em 1.75em 0.5em 1.75em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.3125em;
  margin: 1.5em 0px;
  color: #7a7a7a;
  display: block;
}

/* line 16, ../sass/components/_contact_form.scss */
.contact_form {
  width: 29.5em;
  margin: auto auto;
}
/* line 19, ../sass/components/_contact_form.scss */
.contact_form-type-label {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 0.625em;
}
/* line 24, ../sass/components/_contact_form.scss */
.contact_form-type {
  text-align: center;
}
/* line 26, ../sass/components/_contact_form.scss */
.contact_form-type label {
  font-size: 1.25em;
  letter-spacing: 0.1em;
  margin: 0px 0.9375em;
}
/* line 30, ../sass/components/_contact_form.scss */
.contact_form-type label:before {
  font-family: "FontAwesome";
  content: "\f1db";
  font-size: 1.5em;
  margin-right: 0.1em;
}
/* line 39, ../sass/components/_contact_form.scss */
.contact_form-type input[type="radio"]:checked + label:before {
  font-family: "FontAwesome";
  color: #0065B2;
  content: "\f058";
  font-size: 1.5em;
  margin-right: 0.1em;
}
/* line 47, ../sass/components/_contact_form.scss */
.contact_form-type input[type="radio"] {
  display: none;
}
/* line 59, ../sass/components/_contact_form.scss */
.contact_form-comment {
  height: 9.1875em;
  padding: 0.9375em 1.75em;
}
/* line 65, ../sass/components/_contact_form.scss */
.contact_form-submit {
  width: 100%;
}

/* line 71, ../sass/components/_contact_form.scss */
div.contact_form-interest .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1, ../sass/components/_icon_box.scss */
.icon_box {
  background-color: #E6E6E6;
  padding: 2px;
}
/* line 5, ../sass/components/_icon_box.scss */
.icon_box_icon {
  font-family: 'FontAwesome';
  display: inline-block;
  color: white;
  font-size: 40px;
  border-radius: 4em;
  padding: 30px 0px;
  width: 100px;
  text-align: center;
}
/* line 17, ../sass/components/_icon_box.scss */
.icon_box--passion .icon_box_icon {
  background-color: #A822AE;
}
/* line 19, ../sass/components/_icon_box.scss */
.icon_box--passion .icon_box_icon::before {
  content: "\f004";
}
/* line 25, ../sass/components/_icon_box.scss */
.icon_box--speed .icon_box_icon {
  background-color: #0065B2;
}
/* line 27, ../sass/components/_icon_box.scss */
.icon_box--speed .icon_box_icon::before {
  content: "\f0e7";
}
/* line 33, ../sass/components/_icon_box.scss */
.icon_box--creativity .icon_box_icon {
  background-color: #0065B2;
}
/* line 35, ../sass/components/_icon_box.scss */
.icon_box--creativity .icon_box_icon::before {
  content: "\f0c3";
}
/* line 41, ../sass/components/_icon_box.scss */
.icon_box--magic .icon_box_icon {
  background-color: #F58220;
}
/* line 43, ../sass/components/_icon_box.scss */
.icon_box--magic .icon_box_icon::before {
  content: "\f0d0";
}
/* line 49, ../sass/components/_icon_box.scss */
.icon_box > p {
  font-size: 0.875em;
}
/* line 53, ../sass/components/_icon_box.scss */
.icon_box-title {
  font-size: 1.625em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
}

/* line 4, ../sass/components/_search_form.scss */
.search_form-phrase {
  vertical-align: top;
  height: 1.875em;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #DADADA;
  border-left: none;
  width: pxrem(130);
  float: left;
  padding-left: 0.625em;
  padding-right: 0.625em;
}
/* line 17, ../sass/components/_search_form.scss */
.search_form-submit {
  vertical-align: top;
  height: 1.875em;
  font-size: 1em;
  border: 1px solid #DADADA;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  background-color: #e8e8e8;
  float: left;
}
/* line 26, ../sass/components/_search_form.scss */
.search_form-submit:before {
  font-family: "fedfont";
  content: "\61";
  color: #7a7a7a;
  margin-top: 0.375em;
  display: inline-block;
}

/* line 36, ../sass/components/_search_form.scss */
div.search_form-type.single {
  float: left;
  vertical-align: top;
  width: 4.6875em;
  display: inline-block;
}
/* line 41, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input {
  font-size: 1em;
  color: #aeaeae;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0.25em 0.5em;
  border-radius: 5px 0px 0px 5px;
  background-color: #e8e8e8;
  height: 1.875em;
  border: 1px solid #aeaeae;
}
/* line 52, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input:before {
  font-family: "FontAwesome";
  content: "\f0dc";
  border: none;
  margin-right: 0.4em;
}
/* line 59, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input:after {
  border: none;
}

/* line 1, ../sass/components/_site_footer.scss */
.site_footer {
  background-color: #515151;
  color: #aeaeae;
  padding: 2.125em 1.875em;
}
/* line 5, ../sass/components/_site_footer.scss */
.site_footer > p {
  margin-top: 0.1875em;
  margin-bottom: 0.1875em;
}
/* line 11, ../sass/components/_site_footer.scss */
.site_footer_copyright {
  color: white;
  font-weight: 400;
}
/* line 16, ../sass/components/_site_footer.scss */
.site_footer_phone:before {
  font-family: "FontAwesome";
  content: "\f095";
  margin-right: 0.3em;
}
/* line 22, ../sass/components/_site_footer.scss */
.site_footer_nav {
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5625em;
  text-align: center;
}
/* line 29, ../sass/components/_site_footer.scss */
.site_footer_nav a:link, .site_footer_nav a:hover, .site_footer_nav a:visited, .site_footer_nav a:active {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 41, ../sass/components/_site_footer.scss */
.site_footer_nav--alt {
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #5d5d5d;
  padding-top: 0.8125em;
  text-align: center;
}
/* line 49, ../sass/components/_site_footer.scss */
.site_footer_nav--alt a:link, .site_footer_nav--alt a:hover, .site_footer_nav--alt a:visited, .site_footer_nav--alt a:active {
  color: #aeaeae;
}
/* line 57, ../sass/components/_site_footer.scss */
.site_footer_social_nav > a {
  box-sizing: border-box;
  height: 1.5625em;
  width: 1.5625em;
  line-height: 1.5625em;
  color: #515151;
  background-color: white;
  text-decoration: none;
  font-size: 1.125em;
  border-radius: 3em;
  text-align: center;
  display: inline-block;
}
/* line 70, ../sass/components/_site_footer.scss */
.site_footer_social_nav > a:before {
  font-family: "FontAwesome";
}
/* line 77, ../sass/components/_site_footer.scss */
.site_footer_facebook_link:before {
  content: "\f09a";
}
/* line 82, ../sass/components/_site_footer.scss */
.site_footer_twitter_link:before {
  content: "\f099";
}
/* line 87, ../sass/components/_site_footer.scss */
.site_footer_linkedin_link:before {
  content: "\f0e1";
}

/* line 2, ../sass/components/_site_header.scss */
.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75em;
}
/* line 6, ../sass/components/_site_header.scss */
.site_header-nav {
  font-size: 1.375em;
}
/* line 9, ../sass/components/_site_header.scss */
.site_header-nav a:link, .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:active {
  display: inline-block;
  color: #7a7a7a;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.4em 0.7em;
}
/* line 18, ../sass/components/_site_header.scss */
.site_header-nav a.is-active {
  background-color: #DADADA;
  border: 1px solid #aeaeae;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
}
/* line 28, ../sass/components/_site_header.scss */
.site_header_phone::before {
  font-family: "FontAwesome";
  content: "\f095";
}
/* line 32, ../sass/components/_site_header.scss */
.site_header_account_link {
  font-size: 18px;
}
/* line 35, ../sass/components/_site_header.scss */
.site_header_account_link:link, .site_header_account_link:hover, .site_header_account_link:visited, .site_header_account_link:active {
  color: #7a7a7a;
  text-decoration: none;
}
/* line 40, ../sass/components/_site_header.scss */
.site_header_account_link:before {
  font-family: "FontAwesome";
  content: "\f007";
  font-size: 0.9em;
  margin-right: 0.35em;
}

/* line 1, ../sass/components/_slideshow.scss */
.slideshow {
  width: 100%;
  height: 39.375em;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-position: bottom;
  background-size: cover;
  position: relative;
}
@media (min-width: 801px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-2000.jpg");
  }
}
@media (min-width: 1101px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg");
  }
}
@media (min-width: 1501px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg.jpg");
  }
}
/* line 20, ../sass/components/_slideshow.scss */
.slideshow-slide {
  padding: 3px;
}
/* line 22, ../sass/components/_slideshow.scss */
.slideshow-slide_title {
  font-size: 2.75em;
  color: white;
  margin-bottom: 0.5em;
}
/* line 28, ../sass/components/_slideshow.scss */
.slideshow-slide > p {
  font-size: 1.125em;
  color: white;
}
/* line 34, ../sass/components/_slideshow.scss */
.slideshow > .slides {
  height: 39.375em;
  padding-left: 200px;
  width: 31.25em;
}
/* line 38, ../sass/components/_slideshow.scss */
.slideshow > .slides > li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 44, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a {
  top: 30%;
  width: 12.5em;
  height: 21.3125em;
}
/* line 50, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a:before {
  font-family: fedfont;
  font-size: 19.4375em;
  color: white;
  text-shadow: 0.125em 0.125em 0.1875em rgba(0, 0, 0, 0.4);
}
/* line 57, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-next:before {
  content: "c";
}
/* line 60, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before {
  content: "d";
  margin-left: -7.8125em;
}
/* line 64, ../sass/components/_slideshow.scss */
.slideshow .flex-control-nav {
  bottom: 0.9375em;
}
/* line 67, ../sass/components/_slideshow.scss */
.slideshow .flex-control-paging li {
  margin: 0 0.25em;
}
/* line 70, ../sass/components/_slideshow.scss */
.slideshow .flex-control-paging li a {
  background-color: white;
}
/* line 73, ../sass/components/_slideshow.scss */
.slideshow .flex-control-paging li a.flex-active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 2, ../sass/components/_snippet.scss */
.snippet > p {
  font-size: 0.875em;
}
/* line 6, ../sass/components/_snippet.scss */
.snippet-title {
  font-size: 1.5em;
  margin-bottom: 0.70833em;
}
/* line 11, ../sass/components/_snippet.scss */
.snippet-atribution {
  font-style: italic;
}
/* line 14, ../sass/components/_snippet.scss */
.snippet-atribution a {
  color: #515151;
}
/* line 16, ../sass/components/_snippet.scss */
.snippet-atribution a:link, .snippet-atribution a:hover, .snippet-atribution a:visited, .snippet-atribution a:active {
  color: #515151;
}
/* line 23, ../sass/components/_snippet.scss */
.snippet-author_thumb {
  height: 5em;
  width: 5em;
  border-radius: 2.5em;
  border: 3px solid #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

/* line 2, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section-title {
  font-size: 2.125em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 0.8em;
  margin-bottom: 0.9em;
}

/* line 11, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section--alt {
  background-color: #e8e8e8;
  padding: 1.5625em 7.5625em;
}
/* line 15, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section--alt > .stacked_hero_section-title {
  border-bottom: 1px solid white;
}
