.button{
	display:inline-block;
	$color:$green;
	background-color:$color;
	color:$white;
	text-decoration:none;
	font-weight:600;
	text-transform:uppercase;
	padding:px2rem(12) px2rem(40) px2rem(8) px2rem(40);
	border-radius:0.2em;
	border-top:ligten($color,20%) 1px solid;
	border-bottom:darken($color,15%) 1px solid;
	border-right:none;
	border-left:none;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	&:link,&:hover, &:visited, &:active{
		color:$white;
	}
	
	&--pill{
		font-size:px2rem(20);
		font-weight:100;
		padding:px2rem(11) px2rem(20) px2rem(7) px2rem(20);
		border-radius:2em;
		text-shadow:none;
	}
	
}