%contact_form---gray-input-input{
		font-size:px2rem(18);
		letter-spacing:0.1em;
}
%contact_form---gray-input-box{
		background-color:$light-gray;
		border:$medium-gray 1px solid;
		padding:px2rem(12) px2rem(28) px2rem(8) px2rem(28);
		width:100%;		
		box-sizing:border-box;
		border-radius:px2rem(5);		
		margin:1.5em 0px;
		color:$medium-darker-gray;
		display:block;
}
.contact_form{
	width:px2rem(472);
	margin:auto auto;
	&-type-label{
		font-size:px2rem(22);
		font-weight:400;
		margin-bottom:px2rem(10);
	}
	&-type{
		text-align:center;
		label{
			font-size:px2rem(20);
			letter-spacing:0.1em;
			margin:0px px2rem(15);
			&:before{
				font-family:"FontAwesome";
				content:"\f1db";
				font-size:px2rem(24);
				margin-right:0.1em;
			}
		}

		input[type="radio"]:checked  + label{
			&:before{
				font-family:"FontAwesome";
				color:$blue;
				content:"\f058";
				font-size:px2rem(24);
				margin-right:0.1em;
			}
		}
		input[type="radio"]{
			display:none;
		}
	}
	&-name{
		@extend %contact_form---gray-input-input;
		@extend %contact_form---gray-input-box;
	}	
	&-email{
		@extend %contact_form---gray-input-input;
		@extend %contact_form---gray-input-box;
	}
	&-comment{
		@extend %contact_form---gray-input-input;
		@extend %contact_form---gray-input-box;
		height:px2rem(147);		
		padding:px2rem(15) px2rem(28);
	}
	&-submit{
		width:100%;
	}
}

div.contact_form-interest{
	.selectize-input{
		@extend %contact_form---gray-input-input;
		@extend %contact_form---gray-input-box;
		-webkit-box-shadow:none;
		box-shadow:none;
		 input{
			@extend %contact_form---gray-input-input;
		}		
	}
	


}