.icon_box{
	background-color:#E6E6E6;	
	padding:2px;
	
	&_icon{
		font-family: 'FontAwesome';
		display:inline-block;
		color:$white;
		font-size:40px;
		border-radius:4em;
		padding:30px 0px;
		width:100px;
		text-align:center;
	}
	
	&--passion{
		.icon_box_icon{
			background-color:$purple;
			&::before{
				content:"\f004";
			}
		}
	}
	&--speed{
		.icon_box_icon{
			background-color:$blue;
			&::before{
				content:"\f0e7";
			}
		}
	}
	&--creativity{
		.icon_box_icon{
			background-color:$light-green;
			&::before{
				content:"\f0c3";
			}
		}
	}
	&--magic{
		.icon_box_icon{
			background-color:$orange;
			&::before{
				content:"\f0d0";
			}
		}
	}
	
	> p{
	font-size:px2rem(14);	
	}
	
	&-title{
	font-size:px2rem(26);
	text-transform:uppercase;
	text-align:center;
	letter-spacing:0.04em;
	}
}