$search-form-height:px2rem(30);
$search-form-font-size:px2rem(16);
.search_form{
	&-phrase{
		vertical-align:top;
		height:$search-form-height;
		font-size:$search-form-font-size;
		box-sizing:border-box;
		border:1px solid $medium-gray;
		border-left:none;
		width:pxrem(130);
		float:left;
		padding-left:px2rem(10);
		padding-right:px2rem(10);
	}
	
	&-submit{
		vertical-align:top;
		height:$search-form-height;
		font-size:$search-form-font-size;
		border:1px solid $medium-gray;
		border-radius:0px 5px 5px 0px;
		border-left:none;
		background-color:$light-gray;
		float:left;
		&:before{
			font-family:"fedfont";
			content:"\61";
			color:$medium-darker-gray;
			margin-top:px2rem(6);
			display:inline-block;
		}
	}
}

div.search_form-type.single{
		float:left;
		vertical-align:top;
		width:px2rem(75);
		display:inline-block;
		.selectize-input{
			font-size:$search-form-font-size;
			color:$medium-dark-gray;
			-webkit-box-shadow:none;
			box-shadow:none;
			padding:px2rem(4) px2rem(8);
			border-radius:5px 0px 0px 5px;
			background-color:$light-gray;
			height:$search-form-height;
			border:1px solid $medium-dark-gray;
			
			&:before{
				font-family:"FontAwesome";
				content:"\f0dc";
				border:none;
				margin-right:0.4em;
			}
			
			&:after{
				border:none;
			}
		}
	}