.site_footer{
	background-color:$dark-gray;
	color: $medium-dark-gray;	
	padding:px2rem(34) px2rem(30);
	> p{
		$margin:px2em(3);
		margin-top:$margin;
		margin-bottom:$margin;
	}
	
	&_copyright{
		color:$white;
		font-weight:400;
	}
	&_phone{
		&:before{
			font-family:"FontAwesome";
			content:"\f095";
			margin-right:0.3em;
		}
	}
	&_nav{
		width:27rem;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:px2em(9);
		text-align:center;
		a{
			&:link ,&:hover, &:visited, &:active{
				color:$white;
				text-transform:uppercase;
				font-weight:400;
				text-decoration:none;
				margin-left:px2em(10);
				margin-right:px2em(10);
			}
		}
		
	}
	
	&_nav--alt{
		width:27rem;
		margin-left:auto;
		margin-right:auto;
		border-top:1px solid $medium-darkest-gray;
		padding-top:px2rem(13);
		text-align:center;
		a{
			&:link ,&:hover, &:visited, &:active{
				color:$medium-dark-gray;
			}
		}
		
	}

	&_social_nav{
		> a{
			$size:25;
			box-sizing:border-box;
			height:px2rem($size);
			width:px2rem($size);
			line-height:px2rem($size);
			color:$dark-gray;
			background-color:$white;
			text-decoration:none;
			font-size:px2rem(18);
			border-radius:3em;
			text-align:center;
			display:inline-block;
			&:before{
				font-family:"FontAwesome";
			}
		}
	}
	
	&_facebook_link{
		&:before{
			content:"\f09a";
		}
	}
	&_twitter_link{
		&:before{
			content:"\f099";
		}
	}
	&_linkedin_link{
		&:before{
			content:"\f0e1";
		}
	}
}