.site_header{
	&-bottom{
		background-color:$light-gray;
		padding:px2rem(12);
	}
	&-nav{
		font-size:px2rem(22);
		a{
			&:link ,&:hover, &:visited, &:active{
				display:inline-block;
				color:$medium-darker-gray;
				text-transform:uppercase;
				text-decoration:none;
				padding:0.4em 0.7em;
			}
		}
		
		a.is-active{
			background-color:$medium-gray;
			border:1px solid $medium-dark-gray;
			border-radius:0.2em;
			-webkit-border-radius:0.2em;
			-moz-border-radius:0.2em;
		}
		
	}
	
	&_phone::before{
		font-family:"FontAwesome";
		content:"\f095";
	}
	&_account_link{
		font-size:18px;

		&:link,&:hover,&:visited,&:active{
			color:$medium-darker-gray;
			text-decoration:none;
		}

		&:before{
			font-family:"FontAwesome";
			content:"\f007";
			font-size:0.9em;
			margin-right:0.35em;
		}
	}
}