.slideshow{
	$height:px2rem(630);
	$prev_next_icon_height:311;
	width:100%;
	height:$height;
	background-image:url('../images/slideshow-bg-1000.jpg');
	background-position:bottom;
	background-size:cover;
	position:relative;
	 @include breakpoint(801px) {
		background-image:url('../images/slideshow-bg-2000.jpg');
	  }
	 @include breakpoint(1101px) {
		background-image:url('../images/slideshow-bg-3000.jpg');
	  }
	 @include breakpoint(1501px) {
		background-image:url('../images/slideshow-bg.jpg');
	  }
	  
	&-slide{
		padding:3px;
		&_title{
		font-size: px2rem(44);
		color: $white;
		margin-bottom:px2em(22,44);
		}
		
		> p{
		font-size:px2rem(18);
		color:$white;
		}
	}
	
	> .slides{
		height:$height;
		padding-left:200px;
		width:px2rem(500);
		> li{
			position:relative;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.flex-direction-nav a{
		top:30%;
		width:px2rem(200);
		height:px2rem($prev_next_icon_height + 30);
	}
	
	.flex-direction-nav a:before {
		font-family:fedfont;
		font-size:px2rem($prev_next_icon_height);
		color:$white;
		text-shadow:px2rem(2) px2rem(2) px2rem(3) rgba(0,0,0,0.4);
	}
	
	.flex-direction-nav a.flex-next:before {
		content:"c";
	}
	.flex-direction-nav a.flex-prev:before {
		content:"d";
		margin-left:px2rem(-125);
	}
	.flex-control-nav {
		bottom:px2rem(15);
	}
	.flex-control-paging li{
		margin:0 px2rem(4);
	}
	.flex-control-paging li a{
		background-color:$white;
	}
	.flex-control-paging li a.flex-active{
		background-color:rgba(255,255,255,0.5);
	}
}