.snippet{
	> p{
	font-size:px2rem(14);
	}
	
	&-title{
	font-size:px2rem(24);
	margin-bottom:px2em(17,24);
	}
	
	&-atribution{	
	font-style:italic;
	
	& a{
		color:$dark-gray;
		&:link, &:hover, &:visited, &:active{
			color:$dark-gray;
		}
	}
	
	}

	&-author_thumb{
		height:px2rem(80);
		width:px2rem(80);
		border-radius:px2rem(40);
		border:3px solid #fff;
		box-shadow:0 0 3px rgba(0,0,0,0.7);
	}
}