//components
.stacked_hero_section-title{
	font-size: px2rem(34);
	text-transform: uppercase;
	text-align:center;
	letter-spacing:0.1em; //TODO:Make Relative
	border-bottom: 1px solid $medium-gray;
	padding-bottom: 0.8em;
	margin-bottom: 0.9em;
}
.stacked_hero_section--alt{
	background-color:$light-gray;
	padding:px2rem(25) px2rem(121);
	
	> .stacked_hero_section-title{
	border-bottom: 1px solid $white;
	}
}